<html lang="en">
<head>
  <% include ../partials/head %>
</head>
<body class="container">

  <header>
    <% include ../partials/navbar %>
  </header>

  <main>
    <div class="page-header">
      <h1><Create An Account</h1>
      <h4 class="subheader">Sign up to track your Smart Bin Points</h4>
    </div>
    <div class="content">
      <img class="account" src="pages/images/account.png" />
      <div id="container"><form>
  <h1>Create Logon</h1>
  <div class="line"><label for="username">Username *: </label><input id="username" type="text" /></div>
  <div class="line"><label for="pwd">Password *: </label><input id="pwd" type="password" /></div>
  <!-- You may want to consider adding a "confirm" password box also -->
  <div class="line"><label for="surname">Surname *: </label><input id="surname" type="text" /></div>
  <div class="line"><label for="other_names">Other Names *: </label><input id="names" type="text" /></div>
  <div class="line"><label for="dob">Date of Birth *: </label><input id="dob" type="text" /></div>
  <div class="line"><label for="email">Email *: </label><input id="email" type="email" /></div>
  <!-- Valid input types: http://www.w3schools.com/html5/html5_form_input_types.asp -->
  <div class="line"><label for="tel">Telephone: </label><input id="tel" type="text" /></div>
  <div class="line"><label for="add">Address *: </label><input id="add" type="text" /></div>
  <div class="line"><label for="ptc">Post Code *: </label><input id="ptc" type="text" /></div>
  <div class="line submit"><input type="submit" value="Submit" /></div>
  <p>Note: Please make sure your details are correct before submitting form and that all fields marked with * are completed!.</p>
  </form></div>
    </div>
  </main>
</body>
</html>
