
body {
  background-color: blue;
  text-align: center;
}

h1 {
  font-family: 'Lobster', cursive;
  color: green;
}

p {
  font-family: "Courier New";
  font-size: 30px;
  color: black;
}
h4
{
	font-family: "Courier New";
	font-size: 30px;
	color: green;
}



#greencity img {
  height: 140px;
  margin-top: 20px;
}
